{
  "presets": ["es2015"],
  "env": {
    "test-many-files": {
      "plugins": [
        ["./lib/index.js", {
          "files": [ "test/to-transpile/b.js" ],
          version: '1.0.0',
          commit: '2b93ca3',
        }]
      ]
    },
    "test-many-files-add-header": {
      "plugins": [
        ["./lib/index.js", {
          "files": { 
            "test/to-transpile/b.js": {
              "header": [
                "Cookie monster"
              ],
            }
          },
          version: '1.0.0',
          commit: '2b93ca3',
        }]
      ]
    }
  }
}
